@font-face {
	font-family: 'impactreg';
	src: url('./impactreg.eot');
	src: local('impactreg'), url('./impactreg.woff') format('woff'), url('./impactreg.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7349">Text with this font applied</p> */
.fontsforweb_fontid_7349 {
	font-family: 'impactreg' !important;
}

/* Font downloaded from FontsForWeb.com */

@font-face {
	font-family: 'Esphimere';
	src: url('Esphimere.eot');
	src: local('☺'), url('Esphimere.woff') format('woff'), url('Esphimere.ttf') format('truetype'), url('Esphimere.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Bold';
	src: url('Esphimere Bold.eot');
	src: local('☺'), url('Esphimere Bold.woff') format('woff'), url('Esphimere Bold.ttf') format('truetype'), url('Esphimere Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Bold Italic';
	src: url('Esphimere Bold Italic.eot');
	src: local('☺'), url('Esphimere Bold Italic.woff') format('woff'), url('Esphimere Bold Italic.ttf') format('truetype'), url('Esphimere Bold Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Extra Light';
	src: url('Esphimere Extra Light.eot');
	src: local('☺'), url('Esphimere Extra Light.woff') format('woff'), url('Esphimere Extra Light.ttf') format('truetype'), url('Esphimere Extra Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Extra Light Italic';
	src: url('Esphimere Extra Light Italic.eot');
	src: local('☺'), url('Esphimere Extra Light Italic.woff') format('woff'), url('Esphimere Extra Light Italic.ttf') format('truetype'), url('Esphimere Extra Light Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Italic';
	src: url('Esphimere Italic.eot');
	src: local('☺'), url('Esphimere Italic.woff') format('woff'), url('Esphimere Italic.ttf') format('truetype'), url('Esphimere Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Light';
	src: url('Esphimere Light.eot');
	src: local('☺'), url('Esphimere Light.woff') format('woff'), url('Esphimere Light.ttf') format('truetype'), url('Esphimere Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Light Italic';
	src: url('Esphimere Light Italic.eot');
	src: local('☺'), url('Esphimere Light Italic.woff') format('woff'), url('Esphimere Light Italic.ttf') format('truetype'), url('Esphimere Light Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Semi Bold';
	src: url('Esphimere Semi Bold.eot');
	src: local('☺'), url('Esphimere Semi Bold.woff') format('woff'), url('Esphimere Semi Bold.ttf') format('truetype'), url('Esphimere Semi Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Semi Bold Italic';
	src: url('Esphimere Semi Bold Italic.eot');
	src: local('☺'), url('Esphimere Semi Bold Italic.woff') format('woff'), url('Esphimere Semi Bold Italic.ttf') format('truetype'), url('Esphimere Semi Bold Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Thin';
	src: url('Esphimere Thin.eot');
	src: local('☺'), url('Esphimere Thin.woff') format('woff'), url('Esphimere Thin.ttf') format('truetype'), url('Esphimere Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Esphimere Thin Italic';
	src: url('Esphimere Thin Italic.eot');
	src: local('☺'), url('Esphimere Thin Italic.woff') format('woff'), url('Esphimere Thin Italic.ttf') format('truetype'), url('Esphimere Thin Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* This stylesheet generated by Transfonter (https://transfonter.org) on August 15, 2017 11:30 AM */

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Light.eot');
	src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Light.woff') format('woff'),
		url('Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Italic.eot');
	src: url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Italic.woff') format('woff'),
		url('Roboto-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('RobotoCondensed-LightItalic.eot');
	src: url('RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('RobotoCondensed-LightItalic.woff') format('woff'),
		url('RobotoCondensed-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Thin.eot');
	src: url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Thin.woff') format('woff'),
		url('Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular.eot');
	src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Regular.woff') format('woff'),
		url('Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('RobotoCondensed-Regular.eot');
	src: url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
		url('RobotoCondensed-Regular.woff') format('woff'),
		url('RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('RobotoCondensed-Light.eot');
	src: url('RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
		url('RobotoCondensed-Light.woff') format('woff'),
		url('RobotoCondensed-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('RobotoCondensed-Italic.eot');
	src: url('RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
		url('RobotoCondensed-Italic.woff') format('woff'),
		url('RobotoCondensed-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Bold.eot');
	src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Bold.woff') format('woff'),
		url('Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('RobotoCondensed-Bold.eot');
	src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
		url('RobotoCondensed-Bold.woff') format('woff'),
		url('RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-MediumItalic.eot');
	src: url('Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('Roboto-MediumItalic.woff') format('woff'),
		url('Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-BoldItalic.eot');
	src: url('Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Roboto-BoldItalic.woff') format('woff'),
		url('Roboto-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-ThinItalic.eot');
	src: url('Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('Roboto-ThinItalic.woff') format('woff'),
		url('Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-BlackItalic.eot');
	src: url('Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('Roboto-BlackItalic.woff') format('woff'),
		url('Roboto-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('RobotoCondensed-BoldItalic.eot');
	src: url('RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('RobotoCondensed-BoldItalic.woff') format('woff'),
		url('RobotoCondensed-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-LightItalic.eot');
	src: url('Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('Roboto-LightItalic.woff') format('woff'),
		url('Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Black.eot');
	src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Black.woff') format('woff'),
		url('Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Medium.eot');
	src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Medium.woff') format('woff'),
		url('Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
